*.DS_*
# Packages
dist
eggs
parts
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

# Python stuff #
################
*.pyc
*.idea

# Byte-compiled / optimized / DLL files
__pycache__/

#Translations
*.mo

#Mr Developer
venv
env
book-library/node_modules